<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사번 조회 결과</title>
</head>
<body>
<table border="1">
  <tr>
    <th>이름</th>
    <th>이메일</th>
    <th>번호</th>
    <th>입사일</th>
    <th>성별</th>
    <th>주소</th>
    <th>직급</th>
    <th>부서</th>
  </tr>
  <tr>
    <td th:text="${code.empCode}"></td>
    <td th:text="${code.empEmail}"></td>
    <td th:text="${code.empPhone}"></td>
    <td th:text="${code.hireDate}"></td>
    <td th:text="${code.empGender}"></td>
    <td th:text="${code.empAddress}"></td>
    <td th:text="${code.jobCode}"></td>
    <td th:text="${code.deptCode}"></td>
  </tr>
</table>
</body>
</html>